<!DOCTYPE html>
<html lang="vi" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>

    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <title>[[${pageTitle}]]</title>
</head>
<body>
<!-- header -->
<div th:replace="admin/dashboard::header"></div>
<!-- end header -->

<!-- sidebar -->
<div th:replace="admin/dashboard::sidebar"></div>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>[[${pageTitle}]]</h2>
                </div>
            </div>
            <!-- end main title -->

            <!--message-->
            <div class="col-12">
                <div class="main__table-message">
                    <div th:if="${successMessage}" class="text-center alert alert-success">[[${successMessage}]]</div>
                    <div th:if="${errorMessage}" class="text-center alert alert-danger">[[${errorMessage}]]</div>
                </div>
            </div>
            <!--message-->

            <!-- form -->
            <div class="col-12">
                <form th:action="@{/branch/save}" th:method="POST" th:object="${branch}" class="form" id="branchForm">
                    <input type="hidden" th:field="*{id}">
                    <div class="row row--form">
                        <div class="col-12">
                            <div class="row row--form">
                                <div class="col-6">
                                    <input type="text" required th:field="*{name}" class="form__input" placeholder="Tên rạp *">
                                </div>
                                <div class="col-6">
                                    <span id="phoneError" class="text-danger" style="display:none;">Số điện thoại không hợp lệ</span>
                                    <input id="phone" type="text" th:field="*{phoneNumber}" class="form__input" placeholder="Phone number *"
                                           required minlength="10" maxlength="10">
                                </div>

                                <div class="col-12 col-lg-3">
                                    <select required th:field="*{thanhPho}" class="js-example-basic-single" id="thanh-pho">
                                        <option value=""></option>
                                        <option value="Hà Nội">Hà Nội</option>
                                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                    </select>
                                </div>

                                <div class="col-9">
                                    <input type="text" required th:field="*{diaChi}" class="form__input" placeholder="Địa chỉ *">
                                </div>

                                <div class="col-12 col-lg-3">
                                    <button type="submit" class="form__btn">Submit</button>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <button onclick="cancelForm()" type="button" class="form__btn">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
<!-- end main content -->

<script>
    function cancelForm() {
        window.location = "/dashboard/management-branch";
    }

    document.getElementById('branchForm').addEventListener('submit', function(event) {
        if (!validatePhone(document.getElementById('phone').value)) {
            document.getElementById('phoneError').style.display = 'block';
            event.preventDefault();
        }
    })
</script>

<!-- JS -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<script src="/js/magnific-popup.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/helper.js"></script>
</body>
</html>