<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <title>[[${pageTitle}]]</title>
</head>
<body>
<!-- header -->
<div th:replace="admin/dashboard::header"></div>
<!-- end header -->

<!-- sidebar -->
<div th:replace="admin/dashboard::sidebar"></div>
<!-- end sidebar -->


<!--main content-->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>[[${pageTitle}]]</h2>

                    <span th:if="${listManager}" class="main__title-stat">[[${listManager.size()}]] user</span>
                    <span th:else class="main__title-stat">0 user</span>

                    <a class="main__title-link" style="margin-left: auto;" href="/manager/new">Thêm manager</a>
                    <div class="main__title-wrap">
                        <!-- filter sort -->
                        <div class="filter" id="filter__sort">
                            <span class="filter__item-label">Sort by:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="MANAGER ID">
                                <span></span>
                            </div>

                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                                <li>MANAGER ID</li>
                            </ul>
                        </div>
                        <!-- end filter sort -->

                        <!-- search -->
                        <form th:action="@{/manager/search}" method="get" class="main__title-form">
                            <input name="search" type="text" placeholder="Tìm theo chi nhánh...">
                            <button type="submit">
                                <i class="icon ion-ios-search"></i>
                            </button>
                        </form>
                        <!-- end search -->
                    </div>
                </div>
            </div>
            <!-- end main title -->

            <!--message-->
            <div class="col-12">
                <div class="main__table-message">
                    <div th:if="${successMessage}" class="text-center alert alert-success">[[${successMessage}]]</div>
                    <div th:if="${errorMessage}" class="text-center alert alert-danger">[[${errorMessage}]]</div>
                </div>
            </div>
            <!--message-->

            <!-- dashbox -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Branch</th>
                            <th>city</th>
                            <th>email</th>
                            <th>username</th>
                            <th>phone number</th>
                            <th>status</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>

                        <tbody>
                        <div th:if="${errorEmpty}" class="text-center alert alert-danger">[[${errorEmpty}]]</div>
                        <th:block th:each="manager: ${listManager}">
                            <tr>
                                <td>
                                    <div class="main__table-text">[[${manager.id}]]</div>
                                </td>
                                <td>
                                    <div class="main__table-text">[[${manager.branch.name}]]</div>
                                </td>
                                <td>
                                    <div class="main__table-text">[[${manager.branch.thanhPho}]]</div>
                                </td>
                                <td>
                                    <div class="main__table-text"><a href="#">[[${manager.user.email}]]</a></div>
                                </td>
                                <td>
                                    <div class="main__table-text">[[${manager.user.username}]]</div>
                                </td>
                                <td>
                                    <div class="main__table-text">[[${manager.user.phoneNumber}]]</div>
                                </td>

                                <td>
                                    <div th:if="${manager.user.isEnabled && !manager.user.isLocked}" class="main__table-text main__table-text--green">ENABLE</div>
                                    <div th:if="${!manager.user.isEnabled && !manager.user.isLocked}" class="main__table-text main__table-text--orange">DISABLE</div>
                                    <div th:if="${manager.user.isEnabled && manager.user.isLocked}" class="main__table-text main__table-text--red">LOCKED</div>
                                </td>
                                <td>
                                    <div class="main__table-btns">
                                        <a th:href="'/manager/edit?id='+${manager.id}" class="main__table-btn main__table-btn--edit">
                                            <i class="icon ion-ios-create"></i>
                                        </a>
                                        <a href="#" th:if="${manager.user.isLocked()}" th:onclick="'confirmUnlock('+${manager.id}+')'" class="main__table-btn main__table-btn--banned open-modal">
                                            <i class="icon ion-ios-lock" style="color: #007520"></i>
                                        </a>
                                        <a href="#"  th:if="${!manager.user.isLocked()}" th:onclick="'confirmLock('+${manager.id}+')'" class="main__table-btn main__table-btn--banned open-modal">
                                            <i class="icon ion-ios-lock" style="color: #c71111"></i>
                                        </a>
                                        <a href="#" th:onclick="'confirmDelete('+${manager.id}+')'" class="main__table-btn main__table-btn--delete open-modal" >
                                            <i class="icon ion-ios-trash" style="color: #c71111"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end dashbox -->

            <!-- paginator -->
            <div class="col-12">
                <div class="paginator-wrap">
                    <span th:if="${listManager}">[[${listManager.size()}]] from 10</span>
                    <span th:else>0 from 20</span>

                    <ul class="paginator">
                        <li class="paginator__item paginator__item--prev">
                            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                        </li>
                        <li class="paginator__item paginator__item--active"><a href="#">1</a></li>
<!--                        <li class="paginator__item "><a href="#">2</a></li>-->
<!--                        <li class="paginator__item"><a href="#">3</a></li>-->
<!--                        <li class="paginator__item"><a href="#">4</a></li>-->
                        <li class="paginator__item paginator__item--next">
                            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</main>
<!-- end main content -->

<script>
    function confirmDelete(id){
        if (confirm("BẠN CHẮC CHẮN MUỐN XÓA MANAGER CÓ ID = "+id+"?")){
            window.location="/manager/delete?id="+id;
        }
    }
    function confirmLock(id){
        if (confirm("BẠN CHẮC CHẮN MUỐN KHÓA MANAGER CÓ ID = "+id+"?")){
            window.location="/manager/lock?id="+id;
        }
    }
    function confirmUnlock(id){
        if (confirm("BẠN CHẮC CHẮN MUỐN MỞ KHÓA MANAGER CÓ ID = "+id+"?")){
            window.location="/manager/unlock?id="+id;
        }
    }
</script>


<!-- JS -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>