<!DOCTYPE html>
<html lang="vi" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>

    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <title>[[${pageTitle}]]</title>
</head>
<body>
<!-- header -->
<div th:replace="admin/dashboard::header"></div>
<!-- end header -->

<!-- sidebar -->
<div th:replace="admin/dashboard::sidebar"></div>
<!-- end sidebar -->

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>[[${pageTitle}]]</h2>
                </div>
            </div>
            <!-- end main title -->

            <!-- form -->
            <div class="col-12">
                <form id="schedule-form" th:action="@{/schedule/save}" th:method="POST" th:object="${schedule}" class="form">
                    <input type="hidden" th:field="*{id}">
                    <div class="row row--form">

                        <div class="col-12">
                            <div class="row row--form">
                                <div class="col-12">
                                    <h5>Thông tin rạp:</h5>
                                    <input type="text" readonly th:value="${branch.getName()}" class="form__input">
                                    <input type="text" readonly th:value="${branch.getDiaChi()}" class="form__input">
                                </div>

                                <div class="col-12">
                                    <h5>Thông tin lịch chiếu:</h5>
                                    <select th:field="*{room}" class="js-example-basic-single" id="room">
                                        <option value=""></option>
                                        <th:block th:each="r: ${listRoom}">
                                            <option th:value="${r.id}">[[${r.name}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <select  th:field="*{movie}" class="js-example-basic-single" id="movie">
                                        <option value=""></option>
                                        <th:block th:each="m: ${listMovie}">
                                            <option th:value="${m.id}">[[${m.title}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <span>Price:</span>
                                    <input type="text" id="price" required th:field="*{price}" class="form__input" placeholder="Price (VND) *">
                                </div>

                                <div class="col-12 col-lg-6">
                                    <span>Start date and time *</span>
                                    <input type="text" required class="form__input" id="startDate" placeholder="HH:mm dd/MM/yyyy" th:field="*{startDate}"/>
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>

                                <div class="col-12 col-lg-3">
                                    <button onclick="submitForm()" type="button" class="form__btn">Submit</button>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <button onclick="cancelForm()" type="button" class="form__btn">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
<!-- end main content -->

<script>
    function submitForm() {
        if (validationInput()){
            document.getElementById("schedule-form").submit();
        }
    }

    function cancelForm(){
        window.location="/dashboard/management-schedule";
    }

    function validationInput(){
        var selectedRoom = $('#room').val();
        var selectedMovie =  $('#movie').val();

        if (!selectedRoom || selectedRoom.length === 0) {
            alert("Vui lòng chọn phòng..");
            return false;
        }

        if (!selectedMovie || selectedMovie.length === 0) {
            alert("Vui lòng chọn phim..");
            return false;
        }

        if (isNaN($('#price').val().trim())){
            alert("Truờng giá tiền không hợp lệ.");
            return false;
        }

        var startDate = validateDateAndTime($('#startDate').val());
        if (startDate === null){
            alert("Vui lòng nhập thời gian bắt đầu đúng định dạng..");
            return false;
        }
        var currentDate = new Date();
        if (startDate<currentDate){
            alert("Vui lòng nhập thời gian bắt đầu hợp lệ..");
            return false;
        }

        return true;
    }
</script>

<!-- JS -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<script src="/js/magnific-popup.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/helper.js"></script>
</body>
</html>