<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <!--message-->
    <div class="col-12">
        <div class="main__table-message">
            <div th:if="${notFound}" class="text-center alert alert-danger">[[${notFound}]]</div>
        </div>
    </div>
    <!--message-->
</body>

<script th:src="@{/js/bootstrap.min.js}"></script>

</html>